<% provide(:title, "Login") %>

<%= form_tag sessions_path, class: "form-horizontal", role: "form", style: "max-width:width:50%" do %>
  <div class="row form-group">
    <%= label_tag :email, nil, class: "sr-only" %>
    <div class="col-sm-4"><%= text_field_tag :email, params[:email], placeholder: "Email", class: "form-control" %></div>
  </div>
  <div class="row form-group">
    <%= label_tag :password, nil, class: "sr-only" %>
    <div class="col-sm-4"><%= password_field_tag :password, params[:password], placeholder: "Password", class: "form-control" %></div>
  </div>
  <%= submit_tag "Log In", class: 'btn btn-primary' %>
<% end %>