<h1>Listing textbooks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Edition</th>
      <th>Price</th>
      <th>Date</th>
      <th>ISBN</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @textbooks.each do |textbook| %>
      <tr>
        <td><%= textbook.title %></td>
        <td><%= textbook.authors %></td>
        <td><%= textbook.edition %></td>
        <td><%= textbook.price %></td>
        <td><%= textbook.date_published %></td>
        <td><%= textbook.isbn %></td>
        <td class="small_link"><%= link_to 'Show<br style="clear: both;"/>'.html_safe, textbook %></td>
        <td class="small_link"><%= link_to 'Edit', edit_textbook_path(textbook) %></td>
        <td class="small_link"><%= link_to 'Destroy', textbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Textbook', new_textbook_path, :class => "small_link" %>
<%= link_to 'Search for Textbook', search_textbooks_path, :class => "small_link" %>
