<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @textbook.title %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @textbook.authors %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @textbook.edition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @textbook.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @textbook.date %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @textbook.isbn %>
</p>

<%= link_to 'Edit', edit_textbook_path(@textbook) %> |
<%= link_to 'Back', textbooks_path %>
