<% provide(:title, "Students") %>

<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Year</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.year %></td>
        <td><%= link_to 'Show', user, :class => "small_link" %></td>
        <td><%= link_to 'Edit', edit_student_path(user), :class => "small_link" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, :class => "small_link", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%=link_to 'New User', new_student_path, :class => "small_link" %>
