<% provide(:title, "User Profile") %>

<div id="student_info" class="well">
  <div class="row">
    <div class="col-sm-4">
      <div class="row"><%= image_tag gravatar_url(@student, 512), class: "img-thumbnail" %></div>
      <div class="row">
        <ul class="list-unstyled">
          <li><strong>Email: </strong><%= @student.email %><% if @student == current_student %> <%= boolean !@student.confirmed_at.nil? %><% end %></li>
          <li><strong>Year: </strong><%= @student.year %></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Ratings</h3></div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <% @student.ratings.each do |rating| %>
              <li><%= rating %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well well-sm">
        <strong>Ratings</strong>
        <ul class="list-unstyled">
            <% @student.ratings.each do |rating| %>
              <li><%= rating %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="btn-group">
  <%= link_to 'Back', students_path, class: "btn btn-default btn-sm" %>
  <% if current_student.admin? %>
  <%= link_to 'Edit', edit_student_path(@student), class: "btn btn-warning btn-sm" %>
  <%= link_to 'Delete', student_path(@student), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
  <% end %>
</div>
