<!-- ratings/index -->
<h4>Ratings for <%= textbook_association_link_string @ta %></h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Vote</th>
      <th>Review</th>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
      <tr class="linkable" data-href="<%= rating_path(rating) %>">
        <td><%= rating.vote %></td>
        <td><div style="overflow:hidden;height:20px;text-overflow:ellipsis"><%= rating.content %></div></td>
        <td><%= rating.student %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= blink_to "Add Rating", new_textbook_association_rating_path(@ta), class: "btn-primary" %>