<%= bootstrap_form_for(@professor) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% @professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :first_name, no_label: true %>
    <%= f.text_field :last_name, no_label: true %>
    <%= f.text_field :department, no_label: true %>
    <%= f.text_field :status, no_label: true %>
    <%= f.submit class: 'btn-primary' %>
<% end %>
