<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Call letters:</strong>
  <%= @course.call_letters %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
