<!-- courses/show -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
    <h3>
      <%= @course.title %><br/>
      <small><%= @course.course %></small>
    </h3>
    </div>
  </div>
  <div class="row">
    <% @course.professors.each do |prof| %>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><strong><%= link_to prof, prof %></strong></div>
          <div class="panel-body">
            <ul>
              <% prof.textbook_associations.collect{|ta| ta.textbook}.each do |textbook| %>
              <li>
                <%= link_to textbook, textbook %>
                <%= blink_to "Rate!", new_textbook_association_rating_path(@course.textbook_associations.where(textbook: textbook, professor: prof).first) %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row btn-group">
    <%= blink_to 'Back', :back %><%= blink_to 'Edit', edit_course_path(@course), class: "btn-warning" %>
  </div>
</div>
