<!DOCTYPE html>
<html>
<head>
  <title>TextbookChecker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <%= link_to :main do %>
  <div id="header">
    <div id="header_content">
    TextbookChecker.com
      <div>Adam Keenan - Sam Krygsheld</div></div>
  </div>
  <% end %>
  <div id="body">
    <div id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>

</body>
</html>
